.about {
  margin: 0 auto;
  width: 80%;

  h1 {
    margin-top: 120px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
  }

  .line {
    width: 171px;
    border-bottom: 2px solid black;
  }

  p {
    margin-top: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 1.5;
  }
}
.client-quotes {
  height: 100%;
  margin: 0 auto;
  width: 80%;

  h2 {
    margin-top: 120px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
  }

  .line {
    width: 255px;
    border-bottom: 2px solid black;
  }
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 40px;

  .photo {
    width: 260px;
    height: 150px;
    background-image: url(../images/about-client-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .paragraph {
    width: 385px;
    height: 102px;

    p {
      margin-left: 30px;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      font-style: italic;
      letter-spacing: 2px;
    }
  }
  .photo2 {
    width: 260px;
    height: 150px;
    background-image: url(../images/about-client-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .paragraph2 {
    width: 385px;
    height: 102px;

    p {
      margin-left: 30px;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      font-style: italic;
      letter-spacing: 2px;
    }
  }
}
