.about {
  margin: 0 auto;
  width: 80%;

  h1 {
    margin-top: 120px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
  }

  .line {
    width: 171px;
    border-bottom: 2px solid black;
  }

  p {
    margin-top: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    letter-spacing: 3px;
    line-height: 1.5;
  }
}
.client-quotes {
  height: 100%;
  margin: 0 auto;
  width: 80%;

  h2 {
    margin-top: 120px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
  }

  .line {
    width: 255px;
    border-bottom: 2px solid black;
  }
}
