* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

.hero-wrapper {
  width: 100%;
  height: 500px;
  background-color: #000000; }
  .hero-wrapper .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    width: 1280px;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/hero.jpg);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .hero-wrapper .callout {
    margin-top: 50px;
    text-align: center;
    width: 416px;
    min-height: 200px; }
    .hero-wrapper .callout h1 {
      margin-top: 30px;
      color: #ffffff;
      font-size: 60px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 100; }
    .hero-wrapper .callout .desc {
      color: #ffffff;
      margin-bottom: 40px;
      font-style: italic;
      font-family: "Gill Sans", "Gill Sans MT", sans-serif;
      font-size: 40; }
  .hero-wrapper .site-button {
    padding: 10px 25px;
    background-color: #79addc;
    text-decoration: none;
    color: #ffffff;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 100;
    font-size: 15px; }

@media (max-width: 1000px) {
  .hero-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

nav {
  position: relative;
  width: 80%;
  height: 92px;
  z-index: 99;
  border-bottom: 2px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  nav .logo {
    height: 42px;
    width: 92px;
    border: 2px solid #ffffff; }
    nav .logo p {
      margin-top: 20px;
      font-size: 20px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      color: #ffffff;
      letter-spacing: 2px; }
  nav .link-wrap .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: lowercase; }
  nav .link-wrap i {
    display: none;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer; }
  nav .link-wrap a {
    font-weight: 100;
    color: #ffffff;
    font-size: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-decoration: none;
    letter-spacing: 2px; }
  nav .link-wrap span {
    margin: 0 20px;
    color: #79addc;
    font-size: 30px; }

@media (max-width: 1000px) {
  nav .link-wrap:hover > .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  nav .link-wrap .links {
    margin-top: 40px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    nav .link-wrap .links span {
      display: none; }
  nav .link-wrap .navicon i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    nav .link-wrap .navicon i:hover > .links {
      display: block;
      background-color: black; } }

.box-float {
  margin-top: -47px;
  margin-left: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 1280px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  .box-float .box {
    width: 236px;
    height: 304px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tour/tour-01.jpg);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-01.jpg);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-01.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .box-float .box h2 {
      text-align: center;
      color: #ffffff;
      margin-top: 60px;
      color: #ffffff;
      font-size: 60px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 100; }
    .box-float .box h3 {
      text-align: center;
      color: #ffffff;
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: lighter;
      margin-top: -40px; }
    .box-float .box .tour-button {
      padding: 10px 25px;
      background-color: #79addc;
      text-decoration: none;
      color: #ffffff;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-weight: 100;
      font-size: 15px;
      border-radius: 20px;
      width: 80%;
      margin-bottom: 60px;
      text-align: center; }
  .box-float .box-two {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tour/tour-02.jpg);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-02.jpg);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-02.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-02.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .box-float .box-three {
    background-color: black;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/tour/tour-03.jpg);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-03.jpg);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-03.jpg);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tour/tour-03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

@media (max-width: 1000px) {
  .box-float {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px 0;
    width: 700px; }
  .box {
    margin: 20px 0; } }

.booking-form {
  margin: 0 auto;
  width: 1000px;
  height: 100%;
  margin-bottom: 60px; }
  .booking-form .row-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .booking-form .row-1 input {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: 1px solid #79addc;
      height: 58px;
      margin-bottom: 20px;
      padding: 25px;
      width: 50%;
      margin-right: 20px; }
  .booking-form .row-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .booking-form .row-2 input {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: 1px solid #79addc;
      height: 58px;
      margin-bottom: 20px;
      padding: 25px;
      width: 50%;
      margin-right: 20px; }
  .booking-form .row-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .booking-form .row-3 label {
      width: 100px;
      margin-top: 20px; }
    .booking-form .row-3 input {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: 1px solid #79addc;
      height: 58px;
      margin-bottom: 20px;
      padding: 25px;
      width: 90%;
      margin-right: 20px; }
  .booking-form .row-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .booking-form .row-4 label {
      width: 100px;
      margin-top: 20px; }
    .booking-form .row-4 input {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: 1px solid #79addc;
      height: 58px;
      margin-bottom: 20px;
      padding: 25px;
      width: 90%;
      margin-right: 20px; }
  .booking-form .row-5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .booking-form .row-5 label {
      margin-top: 20px; }
    .booking-form .row-5 input {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: 1px solid #79addc;
      height: 58px;
      margin-bottom: 20px;
      padding: 10px; }
  .booking-form .row-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .booking-form .row-6 input {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: 1px solid #79addc;
      height: 192px;
      margin-bottom: 40px;
      width: 100%;
      padding: 25px;
      margin-right: 20px; }
  .booking-form .submit-button {
    padding: 15px 465px;
    background-color: #79addc;
    text-decoration: none;
    color: #ffffff;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 100;
    font-size: 15px;
    border-radius: 20px;
    margin-bottom: 100px;
    text-align: center; }
  .booking-form h1 {
    margin-top: 60px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter; }
  .booking-form .fill-text {
    font-size: 18px; }
  .booking-form label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter; }

@media (max-width: 1000px) {
  .booking-form {
    margin: 0 auto;
    display: inline-block; }
    .booking-form .row-1 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .booking-form .row-1 input {
        border: 1px solid #79addc;
        height: 58px;
        margin-bottom: 20px;
        padding: 25px; }
    .booking-form .row-2 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .booking-form .row-2 input {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border: 1px solid #79addc;
        height: 58px;
        margin-bottom: 20px;
        padding: 25px;
        width: 50%;
        margin-right: 20px; }
    .booking-form .row-3 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 55%; }
      .booking-form .row-3 label {
        width: 100px;
        margin-top: 20px;
        margin-bottom: 20px; }
      .booking-form .row-3 input {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border: 1px solid #79addc;
        height: 58px;
        margin-bottom: 20px;
        padding: 25px;
        width: 90%;
        margin-right: 20px; }
    .booking-form .row-4 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 55%; }
      .booking-form .row-4 label {
        width: 100px;
        margin-top: 20px;
        margin-bottom: 20px; }
      .booking-form .row-4 input {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border: 1px solid #79addc;
        height: 58px;
        margin-bottom: 20px;
        padding: 25px;
        width: 90%;
        margin-right: 20px; }
    .booking-form .row-5 {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 10%; }
      .booking-form .row-5 label {
        margin-top: 20px;
        margin-right: 10px; }
      .booking-form .row-5 input {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border: 1px solid #79addc;
        height: 58px;
        margin-bottom: 20px;
        padding: 25px;
        width: 103px;
        margin-right: 20px; }
    .booking-form .row-6 {
      display: block;
      width: 50%; }
      .booking-form .row-6 input {
        border: 1px solid #79addc;
        height: 192px;
        margin-bottom: 40px;
        padding: 25px;
        margin-right: 20px; }
    .booking-form .submit-button {
      width: 30%;
      padding: 15px 230px;
      background-color: #79addc;
      text-decoration: none;
      color: #ffffff;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-weight: 100;
      font-size: 15px;
      border-radius: 20px;
      margin-bottom: 100px;
      text-align: center; } }

footer {
  width: 100%;
  height: 100px;
  background-color: #79addc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  footer .footer-2 {
    margin: 0 auto;
    width: 980px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 30px; }
    footer .footer-2 .footer-logo {
      height: 42px;
      width: 92px;
      border: 2px solid #ffffff; }
      footer .footer-2 .footer-logo p {
        margin-top: 20px;
        font-size: 20px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        color: #ffffff;
        letter-spacing: 2px; }
    footer .footer-2 .copyright {
      color: #ffffff;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
    footer .footer-2 .icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      footer .footer-2 .icons .icon-1 {
        background-image: url(../images/social/facebook-3-24.png);
        width: 20px;
        height: 20px;
        margin: 10px; }
      footer .footer-2 .icons .icon-2 {
        background-image: url(../images/social/instagram-24.png);
        width: 20px;
        height: 20px;
        margin: 10px; }
      footer .footer-2 .icons .icon-3 {
        background-image: url(../images/social/twitter-3-24.png);
        width: 20px;
        height: 20px;
        margin: 10px; }

@media (max-width: 1000px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 200px; } }
